@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Libre+Franklin:wght@400;500&display=swap");

/* //////////////////////colors////////////////////// */
:root {
	--purple: #79589e;
	--purple-light: #a896be;
	--purple-lightest: #f6f2fa;
	--blue: #408fec;
	--blue-light: #8ebdf1;
	--blue-lightest: #f6faff;
	--green: #74c080;
	--green-light: #abd7b4;
	--green-lightest: #f8fcf9;
	--orange: #fa9f47;
	--orange-light: #fbc595;
	--orange-lightest: #fffaf6;
	--red: #d54141;
	--red-light: #e48e8e;
	--red-lightest: #fdf6f6;

	--text: #252525;
	--accent1: #e3e7ef;
	--accent2: #eef1f6;
	--accent3: #f7f8fb;
	--bg: #fbfbfd;
}

.light {
	--text: #252525;
	--accent1: #e3e7ef;
	--accent2: #eef1f6;
	--accent3: #f7f8fb;
	--bg: #fbfbfd;
}

.dark {
	--text: #d9deea;
	--accent1: #596981;
	--accent2: #96a3b6;
	--accent3: #cfd7e6;
	--bg: #4e535a;
}
/* //////////////////////colors////////////////////// */

/* //////////////////////typeface////////////////////// */
h1 {
	/* heading */
	font-family: "Libre Franklin", sans-serif;
	font-weight: 500;
	font-size: 48px;
	color: var(--text);
}

h2 {
	/* sub-heading */
	font-family: "Inconsolata", monospace;
	font-weight: 600;
	font-size: 36px;
	color: var(--text);
}

h3 {
	/* body text */
	font-family: "Libre Franklin", sans-serif;
	font: weight 400px;
	font-size: 18px;
	color: var(--text);
}

h4 {
	/* body text alt */
	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: 18px;
	color: var(--text);
}
/* //////////////////////typeface////////////////////// */

/* //////////////////////bg////////////////////// */
body {
	background-color: var(--bg);
}
/* //////////////////////bg////////////////////// */
