@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;600&family=Libre+Franklin:wght@400;500&display=swap");

/* //////////////////////colors////////////////////// */
:root {
	--purple: #79589e;
	--purple-light: #a896be;
	--purple-lightest: #f6f2fa;
	--blue: #408fec;
	--blue-light: #8ebdf1;
	--blue-lightest: #f6faff;
	--green: #74c080;
	--green-light: #abd7b4;
	--green-lightest: #f8fcf9;
	--orange: #fa9f47;
	--orange-light: #fbc595;
	--orange-lightest: #fffaf6;
	--red: #d54141;
	--red-light: #e48e8e;
	--red-lightest: #fdf6f6;

	--text: #252525;
	--accent1: #e3e7ef;
	--accent2: #eef1f6;
	--accent3: #f7f8fb;
	--bg: #fbfbfd;
	--darkbg: #4e535a;
}

.light {
	--text: #252525;
	--accent1: #e3e7ef;
	--accent2: #eef1f6;
	--accent3: #f7f8fb;
	--bg: #fbfbfd;
}

.dark {
	--text: #d9deea;
	--accent1: #596981;
	--accent2: #96a3b6;
	--accent3: #cfd7e6;
	--darkbg: #4e535a;
}
/* //////////////////////colors////////////////////// */

/* //////////////////////setup////////////////////// */

html,
body {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* //////////////////////setup////////////////////// */

/* //////////////////////typeface////////////////////// */

h1 {
	/* heading */
	font-family: "Libre Franklin", sans-serif;
	font-weight: 500;
	font-size: 48px;
	color: var(--text);
}

h2 {
	/* sub-heading */
	font-family: "Inconsolata", monospace;
	font-weight: 600;
	font-size: 36px;
	color: var(--text);
}

h3 {
	/* body text */
	font-family: "Libre Franklin", sans-serif;
	font: weight 400px;
	font-size: 18px;
	color: var(--text);
}

h4 {
	/* body text alt */
	font-family: "Inconsolata", monospace;
	font-weight: 400;
	font-size: 18px;
	color: var(--text);
}
/* //////////////////////typeface////////////////////// */

/* //////////////////////bg////////////////////// */
body {
	background-color: var(--bg);
}
/* //////////////////////bg////////////////////// */

/* //////////////////////nav////////////////////// */
nav {
	margin-bottom: 30px;
}
.navbarColor {
	background-color: var(--bg1);
}

.homeText {
	font-family: dinosaur, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 24px;
	color: var(--purple);
}

.navLinkText {
	font-family: dinosaur, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 20px;
	color: var(--blue);
}

.link1:hover {
	color: var(--purple-light);
}

.link2:hover {
	color: var(--blue-light);
}

.link3:hover {
	color: var(--blue-light);
}

nav {
	-webkit-box-shadow: 0px -11px 28px 27px rgba(0, 0, 0, 0.29);
	-moz-box-shadow: 0px -11px 28px 27px rgba(0, 0, 0, 0.29);
	box-shadow: 0px -11px 28px 27px rgba(0, 0, 0, 0.29);
}

/* //////////////////////nav////////////////////// */

/* //////////////////////////////////////////////////// <heroSection> //////////////////////////////////////////////////// */

.heroSection {
	padding-top: 15vh;
	background-color: var(--bg2);
}

.heroTextHeading {
	padding-bottom: 10px;
}

.heroTextSubheading {
	font-family: rubik, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 20px;
	color: var(--mainText);
}

/* //////////////////////////////////////////////////// </heroSection> //////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////// <footer> //////////////////////////////////////////////////// */

footer {
	background-color: var(--darkbg);
	flex-grow: 1;
}

.footerText {
	display: flex;
	justify-content: space-around;
}

.footerHeading {
	font-size: 30px;
	padding-bottom: 10px;
	font-family: dinosaur, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 30px;
	color: var(--text);
}

.footerLink {
	font-family: dinosaur, sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 16px;
	color: var(--text);
}

.footerLink:hover {
	color: var(--purple-light);
	text-decoration: none;
}

ul.footerList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
/* //////////////////////////////////////////////////// </footer> //////////////////////////////////////////////////// */
